<!DOCTYPE html>
<html>

<head>
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" type="text/css" href="/css/confetti_cuisine.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/confettiCuisine.js"></script>
</head>

<body>
    <div id="nav">
        <div class="col-sm nav-align">
            <h1>Confetti Cuisine</h1>
        </div>
        <div class="col-sm nav-align">
            <a class="button" href="/">
                <span>Home</span>
            </a>
            <a class="button" href="/courses">
                <span>Courses</span>
            </a>
            <a class="button" href="/subscribers">
                <span>Contact</span>
            </a>
            <a class="button" href="/users">
                <span>Users</span>
            </a>
            <%- include('courses/_coursesModal') %>
        </div>
    </div>

    <div class="login">
        <% if (loggedIn) { %>
            <p>
                Logged in as
                <a href="<%= `/users/${currentUser._id}`%>">
                    <%= currentUser.fullName %>
                </a>
                <span class="log-out">
                    <a href="/users/logout">Log out</a>
                </span>
            </p>
            <% } else { %>
                <a href="/users/login">Log in</a>
                <% } %>
    </div>

    <div class="flashes">
        <% if(flashMessages) { %>
            <% if(flashMessages.success) { %>
                <div class="flash success">
                    <%= flashMessages.success %>
                </div>
                <% } else if(flashMessages.error) { %>
                    <div class="flash error">
                        <%= flashMessages.error %>
                    </div>
                 <% } %>
            <% } %>
    </div>
    <div class="container">
        <%- body%>
    </div>
    </body>

</html>