<h2 class="center">Subscriber Data for <%= subscriber.name %></h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ZipCode</th>
            <th>Number of Courses</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <%= subscriber.name %>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <%= subscriber.email %>
                </td>
            </tr>
            <tr>
                <td>Zip Code</td>
                <td>
                    <%= subscriber.zipCode %>
                </td>
            </tr>
            <tr>
                <td>Number of Courses</td>
                <td><%= subscriber.courses.length %></td>
            </tr>
    </tbody>
</table>